<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <script src="../static/js/jquery-1.11.2.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Edit Session</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">
                    <a href="/userHome"><img src="../static/images/project_logo_28.png" alt="APp"></a>
                    Andela Pair Programming Application
            </h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/createInvite">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Invite a colleague to collaborate in {{ programmingSession[0][1] }}</legend>
                    <div style="text-align:center; padding-bottom:10px">
                      {% if error == "Please enter all input fields" %}
                          <span style="color: orange; font-weight:bold; font-size:28px">Please enter all input fields<span>
                      {% endif %}
                  </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtSessionName">Session Name</label>
                        <div class="col-md-4">
                            <input id="txtSessionName" name="inputSessionName" type="text" placeholder="New Session" class="form-control input-md" value="{{ programmingSession[0][1] }}">
                            <input id="txtSessionId" name="inputSessionId" type="hidden" placeholder="Session Id" class="form-control input-md" value="{{ programmingSession[0][0] }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Choose a colleague</label>
                        <div class="col-md-4">
                            <select name ="inputInvitedUser" class="form-control input-md">
                            		{% for user in users %}
                            			<option value="{{ user[0] }}">{{ user[1] }}</option>
                            		{% endfor %}
							</select>
                        </div>
                    </div>
 
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="updateSession" name="updateSession" class="btn btn-primary" type="submit" value="Invite" />
                            <a href="/userHome"><input id="cancelUpdate" name="cancelUpdate" class="btn btn-primary" type="button" value="Cancel"/></a>
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>root@localhost</p>
        </footer>
 
    </div>
</body>
 
</html>