<!DOCTYPE html>
<html lang="en">
  <head>
    <title>APp - Sign In</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.js"></script>
    
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">
                    <a href="/"><img src="../static/images/project_logo_28.png" alt="APp"></a>
            </h3>
      </div>

      <div style="text-align:center; padding-bottom:10px">
          {% if error == "Incorrect password, try again" %}
              <span style="color: orange; font-weight:bold; font-size:28px">You just missed the password<span>
          {% endif %}
          {% if error == "Sorry, we did not recognize that user" %}
              <span style="color: orange; font-weight:bold; font-size:28px">Incorrect email, please try again<span>
          {% endif %}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes style="text-align:center">
              {% for message in messages %}
                <span style="color: orange; font-weight:bold; font-size:24px">{{ message }}<span>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
      </div>
      <div class="jumbotron">
        <h2>Sign In</h2>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      {% if error == "Sorry, we did not recognize that user" %}
        <div style="padding-top:10px">
            <span style="color: orange; font-weight:bold;">Don't have an account? <a href="/showSignUp">Sign Up</a> now</span>
        </div>
      {% endif %}
      </div>
      <footer class="footer">
        <p>root@localhost</p>
      </footer>
 
    </div>
  </body>
</html>